
*,
*:before,
*:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

* {
    margin:0px;
    padding:0px;
    border:0px;
    background:none;
    -webkit-text-size-adjust:100%;
}

body {
    background: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #2E435A;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.ribbon {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #EB5F5A;
}

.ribbon a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ribbon a:hover {
    background-color: #d7544f;
}

header {
    background: #fff;
}

.logo {
    display: block;
    width: 30%;
    height: auto;
    min-width: 100px;
    max-width: 150px;
    margin: 0 auto;
    padding: 50px 0;
}

.testscreen {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.description {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

.dist {
    display: block;
    width: 170px;
    margin: 20px auto;
    padding: 10px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #09AE9B;
    color: #fff;
}

.dist:hover {
    background: #099681;
}

.examplecode {
    margin: 0 auto 30px;
}

.examplecode:last-child {
    margin-bottom: 0;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

tr {
    display: block;
    padding: 0 20px;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 10px;
}

section {
    padding: 40px 0;
}

section:nth-child(odd) {
    background: #ececec;
}

td, th {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 24px;
    font-weight: 300;
    color: #2E435A;
}

th {
    text-align: left;
    font-weight: 600;
}

footer {
    margin: 0 auto;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-align: center;
    background: #2E435A;
    color: #fff;
}

/**
 * Slider specific styles
 */

.slider {
    position: relative;
    width: 320px;
    margin: 0 auto 40px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.frame,
.events_log {
    position: relative;
    width: 270px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    height: 130px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background: #2E435A;
    color: #fff;
}

.slides {
    display: inline-block;
}

.simple > .frame li,
.rewind > .frame li,
.events > .frame li {
    width: 270px;
    margin-right: 10px;
}

.dots {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

.dots > li {
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #888;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.dots > li.active {
    background-color: #41ABE5; // MAKE IT BLUE CAUSE ACTIVE!
    box-shadow: inset 2px 0px 2px -2px #333; // Change the boxshadow inset... just cause
}

.percentage .slides {
    display: block;
}

.percentage .frame {
    width: 87.452%;
}

.percentage li {
    width: 100%;
}

.variablewidth li {
    width: 280px;
    margin-right: 10px;

}

.multipleelements li, .multislides li, .ease li {
    width: 60px;
    margin-right: 10px;
}

.simple > .frame li:last-child,
.rewind > .frame li:last-child,
.events > .frame li:last-child,
.variablewidth li:last-child,
.multipleelements li:last-child,
.multislides li:last-child,
.ease li:last-child {
    margin-right: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 25px;
}

.events_log {
    display: block;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #d2d2d2;
    margin-top: -20px;
    margin-bottom: 20px;
}

.events_log > span {
    display: none;
}

.events_log > span:nth-last-child(-n+5) {
    display: block;
}

@media screen and (min-width: 640px ) {
    /**
     * Demo Page Styles
     */
    .examplecode, .frame, .events_log {
        width: 580px;
    }

    .testscreen {
        width: 500px;
    }

    table {
        width: 580px;
        margin: 0 auto;
    }

    tr {
        padding: 0;
    }

    /**
     * Slider specific styles
     */

    .slider {
        width: 640px;
        margin: 0 auto 20px;
    }

    .simple > .frame li,
    .rewind > .frame li,
    .events > .frame li {
        width: 580px;
    }

    .variablewidth li {
        width: 280px;
        margin-right: 10px;
    }

    .multipleelements li, .multislides li, .ease li {
        width: 130px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 980px ) {
    /**
     * Demo Page Styles
     */

    .examplecode {
        width: 880px;
    }

    /**
     * Slider specific styles
     */

    .slider {
        width: 980px;
        margin: 0 auto 20px;
    }

    .frame,
    .events_log {
        width: 880px;
    }

    .simple > .frame li,
    .rewind > .frame li,
    .events > .frame li {
        width: 880px;
    }

    .variablewidth li {
        width: 280px;
        margin-right: 10px;
    }

    .multipleelements li, .multislides li, .ease li {
        width: 205px;
        margin-right: 20px;
    }
}
