body {
  margin: 0;
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-page {
  position: relative;
  transition: 3s;
  width: 100%;
  height: 100%;
  // left: 0%;
  top: 0px;
}

.other-page {
  position: absolute;
  transition: 3px;
  top: 0px;
  left: 100%;
}
