.tabs {
  &__nav__tab-button:last-child {
    margin-right: 0;
  }

  &__nav__tab-button:hover {
    background: #f37020 !important;
    color: #fff !important;
  }

  &__nav__tab-button--active {
    color: #fff !important;
    background-color: #0050b4 !important;
  }

  &__nav__tab-button i,
  &__nav__tab-button span {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__nav__tab-button i {
    font-size: 18px;
  }

  &__nav__tab-button span {
    display: none;
    font-size: 18px;
  }

  @media all and (min-width: 720px) {
    &__nav__tab-button i {
      margin-bottom: 12px;
      font-size: 22px;
    }
    &__nav__tab-button span {
      display: block;
    }
  }

  &__active-tab {

    &__tab-container {
      display: none;
      padding: 0 20px;
    }

    &__tab-container--active {
      display: block;
    }
  }

  &.no-js &__nav {
    display: none;
  }

  &.no-js &__active-tab__tab-container {
    display: block;
    margin-bottom: 1.5rem;
  }

  &.no-js &__active-tab__tab-container:last-child {
    margin-bottom: 0;
  }

  .definition p {
    color: #1ab3f2;
  }

  &__active-tab__tab-content h2 {
    color: #f37020;
  }
}
