.vertical-tabs {
  width: 100%;
}

.vertical-tabs > .tabs > .tabs__nav {
  display: block;
}

.vertical-tabs > .tabs > .tabs__active-tab > .tabs__active-tab__tab-container {
  left: 600px;
  width: 50%;
}

.vertical-tabs > .tabs > .tabs__active-tab {
  position: relative;
  bottom: 180px;
  left: 50%;
}

.vertical-tabs > .tabs > .tabs__nav > .tabs__nav__tab-button {
  color: #0050b4;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background-color: #e8e7e6;
  position: relative;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40.67797%;
  margin-right: 1.69492%;
  float: none;
}
