.horizontal-tabs > .tabs > .tabs__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.horizontal-tabs > .tabs > .tabs__nav > .tabs__nav__tab-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #0050b4;
  background-color: #e8e7e6;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
