<div id="carousel" class="carousel">
  <section class="carousel__section"><img src="../images/Slide1.png"></section>
  <section class="carousel__section"><img src="../images/Slide2.png"></section>
  <section class="carousel__section"><img src="../images/Slide3.png"></section>
  <section class="carousel__section"><img src="../images/Slide4.png"></section>
</div>
