<div class="tabs">
  <div class="tabs__nav">
    {{#each tabs}}
      <div class="tabs__nav__tab-button {{active}}">
        <i class="tabs__nav__icon fa fa-home"></i>
        <span>{{title}}</span>
      </div>
    {{/each}}
  </div>
  <div class="tabs__active-tab">
    {{#each tabs}}
      <div class="tabs__active-tab__tab-container {{activeTab}}">
        <div class="tabs__active-tab__tab-content">
          <h2 class="tabs__active-tab__tab_content__title">{{title}}</h2>
          <div class="tabs__active-tab__tab_content__definition">
            <p>{{text}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
